<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--<add key="DefaultSubscriptionId" value="1acb642f-b1a6-4c93-8666-fb721c8516dc"/>
    <add key="DefaultAadTenant" value="knowledgekubeonazuremercato.onmicrosoft.com"/>
    <add key="DefaultClientId" value="bac0498a-55f0-41a5-817b-7dc5f56ab9bd"/>
    <add key="DefaultClientSecret" value="5i/59nl6Ofq[wj=[IUAA60qlS5d=-Z14"/>-->
    <add key="DefaultSubscriptionId" value="c645d02f-04d3-47ce-ba8d-e9f1390f56e3"/>
    <add key="DefaultAadTenant" value="mercatosolutions.co.uk"/>
    <add key="DefaultClientId" value="1052bfbc-8f0d-4002-b288-106c98bc89a1"/>
    <add key="DefaultClientSecret" value="jt/4_PK+f:387?4l-M4C/3jVGhQMZS4s"/>
  </appSettings>
</configuration>